&__input {
  font-size: 1.5rem;
  // input elements have to inherit manually
  color: inherit;
  font-family: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba($color: $color-white, $alpha: 0.5);
  border: none;
  // 3px won't bother anymore in looking bigger one input
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;

  &:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba($color: $color-black, $alpha: 0.1);
    border-bottom: 3px solid $color-primary;
  }

  // Very cool visual feedback
  &:focus:invalid {
    border-bottom: 3px solid $color-secondary-dark;
  }

  &::-webkit-input-placeholder {
    color: $color-grey-dark-2;
  }
}
