@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* do not forget to add cursor: none to only have modified cursor */

body {
  font-family: 'Poppins', sans-serif;
  cursor: none;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  min-height: 10vh;
  align-items: center;
  margin: auto;
}

.nav-links li {
  padding: 1rem;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav-links,
h1 {
  flex: 1;
}

.front-cover img {
  position: relative;
  z-index: -3;
}

/* ===this is where magic happens=== */
/* > transform-translate needed to keep it center */
/* > transform-origin to keep its centerness by hovering */
/* > transition property to only affect at those areas */
/* > z-index to keep it back | pointer -events to be able to select  */
/* > backdrop-filter: gives nice effect to the cursoer by hovering to a pic */

.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  z-index: -1;
  backdrop-filter: grayscale();
}

.link-grow {
  transform: scale(2);
  background: black;
}

.hovered-link {
  color: white;
}
